* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  height: 100%;
  font-size: 16px;
}
body {
  background: #EDEDED;
  font-family: "苹方", "San Francisco";
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
a,
button {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img,
input {
  border: none;
}
.lxf-pay {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.lxf-pay header {
  width: 100%;
  height: .88rem;
  font-size: .34rem;
  position: fixed;
  top: 0;
  left: 0;
  background: #3B74E8;
  padding: .24rem;
  box-sizing: border-box;
}
.lxf-pay header .left {
  display: inline-block;
  float: left;
  width: .4rem;
  height: 100%;
}
.lxf-pay header .left img {
  width: 100%;
}
.lxf-pay header span {
  display: block;
  width: 1.5rem;
  height: 100%;
  line-height: .5rem;
  text-align: center;
  color: #fff;
  margin: 0 auto;
}
.lxf-pay .top-blue {
  width: 100%;
  height: 3.1rem;
  background: #3B74E8;
  margin-top: .88rem;
}
.lxf-pay .top-blue .main-box {
  width: 6.4rem;
  height: 4.35rem;
  margin: .2rem auto;
  background: url("../img/lxf-beijng1_14.png") no-repeat center center / cover;
  padding: .11rem .6rem;
  box-sizing: border-box;
}
.lxf-pay .top-blue .main-box .main {
  width: 100%;
  height: 1.36rem;
  padding: .31rem 0;
  box-sizing: border-box;
  position: relative;
}
.lxf-pay .top-blue .main-box .main > div {
  float: left;
}
.lxf-pay .top-blue .main-box .main .left {
  width: .72rem;
  height: 100%;
  padding-top: .05rem;
  box-sizing: border-box;
}
.lxf-pay .top-blue .main-box .main .left img {
  width: .72rem;
}
.lxf-pay .top-blue .main-box .main .center {
  width: 3.65rem;
  height: 100%;
  padding: 0 0 0 .15rem;
  box-sizing: border-box;
  font-size: .2rem;
}
.lxf-pay .top-blue .main-box .main .center .cen-top {
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  line-height: .37rem;
}
.lxf-pay .top-blue .main-box .main .center .cen-top > * {
  display: inline-block;
  float: left;
}
.lxf-pay .top-blue .main-box .main .center .cen-top p {
  font-family: 黑体;
  font-weight: bold;
}
.lxf-pay .top-blue .main-box .main .center .cen-top span {
  font-size: .24rem;
  color: #ee1818;
  font-weight: bolder;
}
.lxf-pay .top-blue .main-box .main .center .cen-top img {
  width: .2rem;
  margin-left: .03rem;
}
.lxf-pay .top-blue .main-box .main .center .cen-top .rect {
  width: .4rem;
  height: .2rem;
  border-radius: .1rem;
  background-color: #ee1818;
  line-height: .2rem!important;
  text-align: center;
  margin-top: .08rem;
  margin-left: .1rem;
  color: #fff;
}
.lxf-pay .top-blue .main-box .main .center .cen-botom {
  width: 100%;
  height: 50%;
  line-height: .37rem;
}
.lxf-pay .top-blue .main-box .main .center .cen-botom > * {
  display: inline-block;
  float: left;
}
.lxf-pay .top-blue .main-box .main .center .cen-botom p {
  font-size: .24rem;
  color: #919192;
}
.lxf-pay .top-blue .main-box .main .right {
  width: 5px;
  height: 5px;
  float: right;
  background-color: #fff;
  border: 1px solid #969696;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: .2rem;
  margin-top: -3px;
  padding: .04rem;
  color: #fff;
  background-clip: content-box;
}
.lxf-pay .top-blue .main:nth-child(2) {
  border-top: 1px solid #C5C5C5;
}
.lxf-pay .top-blue .main:nth-child(3) {
  border-top: 1px solid #C5C5C5;
}
.lxf-pay .pay-box {
  width: 6.29rem;
  height: 2.12rem;
  margin: 1.22rem auto 0;
  padding-top: 1px;
  position: relative;
}
.lxf-pay .pay-box .pay {
  width: 1.8rem;
  height: .71rem;
  margin: .7rem auto;
}
.lxf-pay .pay-box .pay img {
  width: .71rem;
  display: block;
  float: left;
}
.lxf-pay .pay-box .pay .right {
  float: left;
  width: 1rem;
  margin-left: .09rem;
  line-height: .35rem;
}
.lxf-pay .pay-box .pay .right p:first-child {
  display: block;
  width: auto;
  font-size: .2rem;
  color: #969696;
  border-bottom: 1px solid #969696;
}
.lxf-pay .pay-box .pay .right p:last-child {
  font-weight: bolder;
  font-size: .24rem;
  color: #ee1818;
}
.lxf-pay .pay-box .dian1 {
  width: 4px;
  height: 4px;
  background: #969696;
  border-radius: 50%;
  position: absolute;
  left: 0;
  bottom: -2px;
  z-index: 2;
}
.lxf-pay .pay-box .dian2 {
  width: 4px;
  height: 4px;
  background: #969696;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: -2px;
  z-index: 2;
}
.lxf-pay .share {
  width: 6.38rem;
  height: 1.3rem;
  margin: 0 auto;
}
.lxf-pay .share img {
  width: 3rem;
  display: block;
}
.lxf-pay .share .weixin {
  float: left;
}
.lxf-pay .share .qq {
  float: right;
}
.lxf-pay footer {
  width: 100%;
  height: 1rem;
  text-align: center;
  background: #31AF27;
  padding: .25rem;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
}
.lxf-pay footer .fot-box {
  width: 2rem;
  height: 100%;
  margin: 0 auto;
}
.lxf-pay footer .fot-box > img {
  width: .5rem;
  height: .5rem;
  display: block;
  float: left;
}
.lxf-pay footer .fot-box .foot {
  float: left;
  width: auto;
  height: 100%;
  line-height: .25rem;
  margin-left: .1rem;
}
.lxf-pay footer .fot-box .foot p {
  font-size: .2rem;
  color: #fff;
  text-align: left;
}
